{% if end_date != blank %}
  <div class="countdown-timer__block {% if show_expired %} timer_show_expired {% endif %}" id="timer-{{section_id}}">
    {% if title != blank %}
      <h3 class="timer__title">{{ title }}</h3>
    {% endif %}
    <div class="timer-display" id="timer-display-{{section_id}}">
      <div class="timer-block">
        <h3 class="timer-block__num js-timer-days">00</h3>
        <span class="timer-block__unit rte body">{{ 'sections.time_countdown_banner.days' | t }}</span>
      </div>
      <div class="timer-block">
        <h3 class="timer-block__num js-timer-hours">00</h3>
        <span class="timer-block__unit rte body">{{ 'sections.time_countdown_banner.hours' | t }}</span>
      </div>
      <div class="timer-block">
        <h3 class="timer-block__num js-timer-minutes">00</h3>
        <span class="timer-block__unit rte body">{{ 'sections.time_countdown_banner.minutes' | t }}</span>
      </div>
      <div class="timer-block">
        <h3 class="timer-block__num js-timer-seconds">00</h3>
        <span class="timer-block__unit rte body">{{ 'sections.time_countdown_banner.seconds' | t }}</span>
      </div>
    </div>
  </div>
  {%- style -%}
    #timer-{{section_id}}{
      /* background: gray; */
    }
    .timer--expired:not(.timer_show_expired) {
      display: none;
    }
    .timer__title {
      text-align: center;
      font-weight: 800;
    }
    .timer-display {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-top: 5px;
      min-width: fit-content;
    }
    .timer-block {
      position: relative;
      flex-grow: 1;
      min-width: fit-content;
      padding: 0 10px;
    }
    .timer-block:not(:last-child):after {
      content: ':';
      position: absolute;
      right: 0;
      top: 3px;
    }
    .timer-block__num,
    .timer-block__unit {
      margin: 0;
      display: block;
      text-align: center;

    }
  {%- endstyle -%}

  <script type="text/javascript">
    var second = 1000,
      minute = second * 60,
      hour = minute * 60,
      day = hour * 24;

    var countDate = new Date('{{end_date}}').getTime();
    var nowDate = new Date().getTime();
    var gapDate = countDate - nowDate;

    if (gapDate < 0) {
      markTimerAsExpired('timer-{{section_id}}');
    }

    var x = setInterval(function () {
      countDate = new Date('{{end_date}}').getTime();
      nowDate = new Date().getTime();
      gapDate = countDate - nowDate;

      const [days, hours, minutes, seconds] = countDownTime(gapDate, [day, hour, minute, second]);

      if (gapDate < 0) {
        markTimerAsExpired('timer-{{section_id}}');
      } else {
        document.querySelector('#timer-display-{{section_id}}').querySelector('.js-timer-days').innerText =
          days < 10 ? '0' + days : days;
        document.querySelector('#timer-display-{{section_id}}').querySelector('.js-timer-hours').innerText =
          hours < 10 ? '0' + hours : hours;
        document.querySelector('#timer-display-{{section_id}}').querySelector('.js-timer-minutes').innerText =
          minutes < 10 ? '0' + minutes : minutes;
        document.querySelector('#timer-display-{{section_id}}').querySelector('.js-timer-seconds').innerText =
          seconds < 10 ? '0' + seconds : seconds;
      }
    }, second);

    function countDownTime(gapDate, [day, hour, minute, second]) {
      const countedDays = Math.floor(gapDate / day);
      const countedHours = Math.floor((gapDate % day) / hour);
      const countedMinutes = Math.floor((gapDate % hour) / minute);
      const countedSeconds = Math.floor((gapDate % minute) / second);
      return [countedDays, countedHours, countedMinutes, countedSeconds];
    }

    function markTimerAsExpired(id) {
      var timer_block = document.getElementById(id);
      timer_block.classList.add('timer--expired');
    }
  </script>
{% endif %}
